<!DOCTYPE HTML>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>Homeworks of {{ today | date:"m/d" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link rel="preload" href="{% static 'main.css' %}" as="style" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="preload" href="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" as="script" />

    <script src="{% static 'main.js' %}"></script>
    <link rel="preload" href="{% static 'main.js' %}" as="script" />
</head>
<body>
    <h1>Homeworks of {{ today | date:"d/m" }}</h1>
    <table>
        <tr>
            <th><a href="/subjects/">Subject</a></th>
            <th>Description</th>
            <th>Due Date</th>
        </tr>
        {% for x in hwlist %}
            <tr>
                <td><abbr title="{{ x.subject_name }}">{{ x.subject_short }}</abbr></td>
                <td class="hwtype-{{ x.type.value }} hw" data-hwid="{{x.id}}">{{ x.description }}</td>
                <td>{{ x.due_date | date:"d/m" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan=3 class="empty">No homeworks now.</td>
            </tr>
        {% endfor %}
        <tr id="noLocalStorage" style="display:none">
            <td colspan=3 class="error">LocalStorage not avaliable.</td>
        </tr>
        <tr>
            <td colspan=3 class="empty"><a href="/admin/">MANAGE</a></td>
        </tr>
    </table>
    <hr />
    <div class="bottom">
        <a href="/history/{{ yday | date:"Y/m/d" }}/" style="text-align:left" class="bottom-item">&lt;&nbsp;Yesterday</a>
        <form method="GET" action="/history/" style="flex-shrink:0;text-align:center" class="bottom-item"><label>Jump to:</label> <input type="date" name="d" /><input type="submit" /></form>
        <a href="/history/{{ tmr | date:"Y/m/d" }}/" style="text-align:right" class="bottom-item">Tomorrow&nbsp;&gt;</a>
    </div>
</body>
</html>
